#!/usr/bin/env bash
# AD Domain name. E.g. 'corp'
export AD_DOMAIN_NAME=''

# AD Domain base for LDAP searching. E.g. 'OU=Users,OU=corp,DC=corp,DC=totoleon,DC=com'
export AD_DOMAIN_BASE=''

# The FQDN of LDAP endpoint. E.g. 'ldapendpoint.totoleon.com'
export LDAP_FQDN=''

# If using LDAP or LDAPs. E.g. 'false'
export LDAP_SECURE=''

# LDAP(s) port number. E.g. '389'
export LDAP_PORT=''

# ARN of the Secret in AWS Secret Manager for the bind user. E.g. 'arn:aws:secretsmanager:us-west-2:123456789012:secret:ADBindUser-xXxX'
export AD_BIND_USER_SM_ARN=''

# Custom resource type. E.g. 'MyCompany::ActiveDirectory::User'
export RESOURCE_TYPE=''
